#copy{ #000000 };

body{
  background-color: #476f86;
}

#Sandbox{
  border: 3px solid black;
  display: inline-block;
  color: #ffffff;
  width: 1200px;
  height: 100%
  margin: 10px;
}

.bubble{
  display: inline-block;
  border-radius: 100%;
  margin: 10px;
}

.size-5{
  height: 300px;
  width: 300px;
}

.size-4{
  height: 225px;
  width: 225px;
}

.size-3{
  height: 150px;
  width: 150px;
}

.size-2{
  height: 100px;
  width: 100px;
}

.size-1{
  height: 50px;
  width: 50px;
}

.green{
  background-color: #7ad86b;
}

.red{
  background-color: #ed4747;
}

.yellow{
  background-color: #f0db58;
}
