extends ../shared/template

block scripts
  script(src='/js/source/data.js')

block content
  h1 priorisize <span id='beta'> Pre-Alpha</span>
  button.small.radius#toggle Tasks
  #forms
    .row
      .small-6.columns
        form#addTask
          fieldset
            legend Add Task
            .row
              .small-3.columns
                label Workload
                select#workload(name='workload')
                  option(value=1) Low
                  option(value=2) Medium
                  option(value=3) High
              .small-3.columns
                label Important?
                select#importance(name='importance')
                  option(value=true) Yes
                  option(value=false) False
              .small-6.columns
                label End Date
                input#endDate(type='date', name='end', required=true)
              .small-3.columns
            .row
              .small-8.columns
                input#description(type='text', placeholder='description', name='description')
              .small-4.columns
                button Submit
      .small-6.columns
        form#myTasks
          fieldset
            legend My Tasks
            .row
              .small-4.columns
                label "By Priority (All)"
                select#priority(name='priority')
              .small-4.columns
                label Root Family
                select#rootFamily(name='rootFamily')
              .small-4.columns
                label Hybrid
                select#hybrid(name='hybrid')

  .row
    .small-8.columns
      #Schema
        h2 Total Workload
        p ( parent-workload  x  .75 ) + ( child-workload  x  .25 ) = adjusted-workload
        p ( 1 + ( child-quantity / 500 ) ) + ( requisite-quantity / 300 )  = dependency-multiplier
        p importance-true = 1.1 || importance-false = 0.9
        p adjusted-workload x dependency-multiplier x importance = total-workload
        h2 Urgency Value
        p ( time-left / time-length ) * ( 1 + ( time-length / 600 ) ) = urgency
        p adjusted-workload / urgency = urgency-value
        h2 Priority Value
        p urgency-value x final-adjustments = priority-value
        h2 Tiers
        h4 Ranked by Priority Value
        p Top 10% = Red
        p Top 30% = Yellow
        p Bottom 70% = Green
    .small-4.columns
      #exp
      

  .row
    .small-12.columns
      #sandbox.sandbox
