extends ../shared/template

block content
  h1 priorisize <span id='beta'> Pre-Alpha</span>
  button.small.radius#toggle Tasks
  button.small.radius#toggle2 Tree
  button.small.radius#toggle3 Switch
  button.small.radius.red#logout(href='/logout', action='post') Logout
  #forms
    .row
      .small-6.columns
        form#addTask(action='/task/create', method='post')
          fieldset
            legend Add Task
            .row
              .small-3.columns
                label Workload
                select#workload(name='workload')
                  option(value=1) Low
                  option(value=2) Medium
                  option(value=3) High
              .small-3.columns
                label Important?
                select#importance(name='importance')
                  option(value='true') True
                  option(value='false') False
              .small-3.columns
                label End Date
                input#endDate(type='date', name='endDate', required=true)
              .small-3.columns
                label Branch
                select#branch(name='branch')
                  option(value='root') Root
            .row
              .small-8.columns
                input#description(type='text', placeholder='description', name='description')
                input#user(type='hidden')
              .small-4.columns
                button Submit
      .small-6.columns
        form#myTasks
          fieldset
            legend Edit Task
            .row
              .small-3.columns
                label Workload
                select#workload(name='workload')
                  option(value=1) Low
                  option(value=2) Medium
                  option(value=3) High
              .small-3.columns
                label Important?
                select#importance(name='importance')
                  option(value='true') True
                  option(value='false') False
              .small-3.columns
                label End Date
                input#endDate(type='date', name='endDate', required=true)
              .small-3.columns
                label Branch
                select#branch(name='branch')
                  option Root
              .small-3.columns
            .row
              .small-8.columns
                input#description(type='text', placeholder='description', name='description')
                input#user(type='hidden')
              .small-4.columns
                button Submit
  #dependencies
    .row
      .small-6.columns
        form#editTree
          fieldset
            legend Edit Tree
            .row
              .small-3.columns
                label Add Dependency
                select#aCie(name='aCie')
              .small-3.columns
                label Remove Dependency
                select#rCie(name='rCie')
              .small-3.columns
                label Add Dependent
                select#aEnt(name='aEnt')
              .small-3.columns
                label Remove Dependent
                select#rEnt(name='rEnt')
            .row
              .small-3.columns
                button.small Add
              .small-3.columns
                button.small Remove
              .small-3.columns
                button.small Add
              .small-3.columns
                button.small Remove
      .small-6.columns



  //level-a and level-b... represent the CSS positioning origin and rows of the cluster and outer rows
  //level-0,1,2... represent the parent child structure
  // ^ if they all share the same parent, they should have the same numerical level

  .row
    .small-12.columns
      #sandboxe.sandbox
        #sandbox-e-pie.sub-sandbox
        #sandbox-e-workarea-cluster.sub-sandbox
        #sandbox-e-workarea-tree.sub-sandbox
  .row
    .small-12.columns
      #sandbox0.sandbox
  .row
    .small-12.columns
      #sandboxa.sandbox
  .row
    .small-12.columns
      #sandboxb.sandbox

  if user
    input#uid(value= userId)
