extends ../shared/template

block content
  h1 priorisize <span id='beta'> Pre-Alpha</span>
  button.small.radius#toggle Tasks
  button.small.radius#toggle2 Tree
  button.small.radius.red#toggle3 Switch
  #forms
    .row
      .small-6.columns
        form#addTask(action='/task/create', method='post')
          fieldset
            legend Add Task
            .row
              .small-12.columns
                #addTaskHeader.formHeader
            .row
              .small-3.columns
                label Workload
                select#workload(name='workload')
                  option(value=1) Low
                  option(value=2) Medium
                  option(value=3) High
              .small-3.columns
                label Important?
                select#importance(name='importance')
                  option(value='true') True
                  option(value='false') False
              .small-3.columns
                label End Date
                input#endDate(type='date', name='endDate', required=true)
              .small-3.columns
                label Branch
                select#branch.taskSelector(name='parentId')
                  option(value='root') Root
            .row
              .small-8.columns
                input#description(type='text', placeholder='description', name='description')
                input#user(type='hidden')
              .small-4.columns
                button Submit
      .small-6.columns
        form#myTasks(action='/task/create', method='post')
          fieldset
            legend Edit Task
            .row
              .small-12.columns
                #editTaskHeader.formHeader
              .small-6.columns
                select#selectTaskEdit.taskSelector
                  option Select Task
            .row
              .small-3.columns
                label Workload
                select#workloadEdit(name='workload')
                  option(value=1) Low
                  option(value=2) Medium
                  option(value=3) High
              .small-3.columns
                label Important?
                select#importanceEdit(name='importance')
                  option(value='true') True
                  option(value='false') False
              .small-3.columns
                label End Date
                input#endDateEdit(type='date', name='endDate', required=true)
              .small-3.columns
                label Branch
                select#branchEdit.taskSelector(name='parentId')
                  option(value='root') Root
              .small-3.columns
            .row
              .small-8.columns
                input#descriptionEdit(type='text', placeholder='description', name='description')
                input#user(type='hidden')
              .small-4.columns
                button Submit
  #dependencies
    .row
      .small-6.columns
        form#editTree
          fieldset
            legend Edit Tree
            .row
              .small-12.columns
                #editTreeHeader.formHeader
              .small-6.columns
                select#selectTaskTree.taskSelector
                  option Select Task
            .row
              .small-3.columns
                label Add Dependency
                select#aCie.taskSelector(name='aCie')
              .small-3.columns
                label Remove Dependency
                select#rCie(name='rCie')
              .small-3.columns
                label Add Dependent
                select#aEnt.taskSelector(name='aEnt')
              .small-3.columns
                label Remove Dependent
                select#rEnt(name='rEnt')
            .row
              .small-3.columns
                button.small#addCie Add
              .small-3.columns
                button.small#removeCie Remove
              .small-3.columns
                button.small#addEnt Add
              .small-3.columns
                button.small#removeEnt Remove
      .small-6.columns



  //level-a and level-b... represent the CSS positioning origin and rows of the cluster and outer rows
  //level-0,1,2... represent the parent child structure
  // ^ if they all share the same parent, they should have the same numerical level

  .row
    .small-12.columns
      #sandboxe.sandbox
        #sandbox-e-pie.sub-sandbox
        #sandbox-e-workarea-cluster.sub-sandbox
        #sandbox-e-workarea-tree.sub-sandbox

  if user
    input#uid(value= userId)
