extends ../shared/template

block content
  h1 priorisize <span id='beta'> Pre-Alpha</span>
  button.small.radius#toggle Tasks
  a#logout(href='/logout', action='post') Logout
  #forms
    .row
      .small-6.columns
        form#addTask(action='/task/create', method='post')
          fieldset
            legend Add Task
            .row
              .small-3.columns
                label Workload
                select#workload(name='workload')
                  option(value=1) Low
                  option(value=2) Medium
                  option(value=3) High
              .small-3.columns
                label Important?
                select#importance(name='importance')
                  option(value=true) Yes
                  option(value=false) False
              .small-6.columns
                label End Date
                input#endDate(type='date', name='end', required=true)
              .small-3.columns
            .row
              .small-8.columns
                input#description(type='text', placeholder='description', name='description')
              .small-4.columns
                button Submit
      .small-6.columns
        form#myTasks
          fieldset
            legend My Tasks
            .row
              .small-4.columns
                label "By Priority (All)"
                select#priority(name='priority')
              .small-4.columns
                label Root Family
                select#rootFamily(name='rootFamily')
              .small-4.columns
                label Hybrid
                select#hybrid(name='hybrid')

  //level-a and level-b... represent the CSS positioning origin and rows of the cluster and outer rows
  //level-0,1,2... represent the parent child structure
  // ^ if they all share the same parent, they should have the same numerical level

  .row
    .small-12.columns
      #sandbox0.sandbox

  .row
    .small-12.columns
      #sandbox1.sandbox
         #clusterRed
            .level-a
               div.bubble.size-5.red.level-0
            .level-b
               div.bubble.size-4.red.level-0
               div.bubble.size-3.red.level-0
               div.bubble.size-2.red.level-0
               div.bubble.size-1.red.level-0
         #clusterYellow
            .level-a
               div.bubble.size-5.yellow.level-0
            .level-b
               div.bubble.size-4.yellow.level-0
               div.bubble.size-3.yellow.level-0
               div.bubble.size-2.yellow.level-0
               div.bubble.size-1.yellow.level-0
         #clusterGreen
            .level-a
               div.bubble.size-5.green.level-0
            .level-b
               div.bubble.size-4.green.level-0
               div.bubble.size-3.green.level-0
               div.bubble.size-2.green.level-0
               div.bubble.size-1.green.level-0
  if user
    input#uid(value= userId)
